/* Contenedor Principal */
.container {
    margin: 20px;
}

/* Para Títulos Generales */
h2 {
    text-align: center;
    color: blueviolet;
    animation: animate__animated animate__slideInRight animate__slower;
  }

/* Para las animaciones */  
h2.animate__fadeInUp {
    animation-duration: 1s;
}

/* Para Títulos Secundarios */
h3 {
    color: purple;
}

/* Para el texto en general */
p {
    text-align: justify;
    color: white;
}

/* Imagenes que se muestren junto al textos */
.imagenedit{
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}

/* Textos que se muestren junto a imagenes */
.textodiv{
    display: inline-block;
    height: 15%;
    width: 80%;
}